Thumbs.db
ehthumbs.db
Desktop.ini

*.classpath
*.project
.settings/
bin/
out/

/target/
/build/
*.class
*.jar
*.war
*.ear

.mvn/
.gradle/
*.log
*.lock

application-dev.properties
.env

*.db
*.h2.db
*.sqlite

/test-output/
/coverage/
*.tmp
*.cache

*.log

*.swp
*.bak
*.pid
*.gz