<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="feedbackHeader">
    <div class="feedback-header">
        <div class="notice-cell" style="color: white">ID</div>
        <div class="notice-cell" style="color: white">관련</div>
        <div class="notice-cell" style="color: white">일시</div>
        <div class="notice-cell" style="color: white">구분</div>
        <div class="notice-cell" style="color: white; text-align: left; padding-left: 20px;">피드백</div>
<!--         <div class="notice-cell" style="color: white; text-align: left;">이메일</div> -->
        <div class="notice-cell" style="color: white">진행</div>
        <div class="notice-cell" style="color: white">활성</div>
        <div class="notice-cell" style="color: white">진행</div>
        <div class="notice-cell" style="color: white">구분</div>
    </div>
</div>
</html>
