
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">
<link rel="stylesheet" th:href="@{/css/common.css}">
<link rel="stylesheet" href="/css/feedback_design.css">
<title>templates/support/feedback/feedback_finished.html</title>
</head>

<body
style="background: linear-gradient( to bottom, rgba(204,169,254, 0.9), rgba(204,169,254, 0.1),  rgba(204,169,254, 0.1), white, white) !important;"
>


	<div class="parent-container"
		style="border: none !important; width: 100%; padding-top: 30px;
		background: linear-gradient(to bottom, rgba(204,169,254,0.4), white, white, rgba(204,169,254,0.4)); ">




		<div class="child-div"
			style="height: auto; margin: 0px; border: none; box-shadow: 0 0 0px rgba(0, 0, 0, 0.0); background: none;">
			<div class="title-div"
				style="margin: 0px; padding: 1px; border: none;">
				
				<div class="div-2"
					style="font-size: 28px; color: #000000; margin: 0px; margin-bottom: -5px; border: none; display: flex">
					<div><a th:href="@{/support}"><img th:src="@{/images/symbol_support.png}" style="width: 32px; height: 32px; margin-right: 15px; margin-top: 8px;"/></a></div>
					<div><a th:href="@{/support}" style="color: #000000">지원센터</a></div>
				</div><!-- div-2 -->
				
				
				<div class="div-3" style="margin: 0px; border: none"></div>
				<div class="div-4" style="margin: 0px; border: none"></div>
			</div>
			<!-- title-div -->
		</div>
		<!-- child-div -->





		<div class="child-div"
			style="height: auto; margin-top: 40px; margin-bottom: 20px; box-shadow: 0 0 6px rgba(0, 0, 0, 0.4) !important;">
			<div class="title-div">
				<div class="div-1">
					<div>
						<img th:src="@{/images/symbol_feedback.png}"
							style="width: 50px; height: 50px" />
					</div>
				</div>
				<div class="div-2">피드백</div>
				<div class="div-3">
					여러분의 피드백을 지원센터에 전달해주세요.<br>더 나은 사용자 경험을 제공해드립니다.
				</div>
				<div class="div-4" style="color: #5701d0">
					<span><a href="/support" style="font-size: 18px"></a></span>
				</div>
			</div>




		</div>
		<!-- child-div -->



		<div class="child-div"
			style="height: auto; width: 1200px; box-shadow: 0 0 6px rgba(0, 0, 0, 0.4) !important; margin-bottom: 10px; 
			flex-direction: column; justify-content: center; align-items: center; display: flex;">
			
			
			
			<div class="content-div2" style="margin-top: 50px; margin-bottom: 50px;">
				<div class="gradient-text" style="font-size: 60px !important;">피드백이 성공적으로 제출되었습니다.</div>
			</div>



</div>
<!-- child-div -->	































<div class="child-div"
			style="height: auto; width: 1200px; box-shadow: 0 0 6px rgba(0, 0, 0, 0.4) !important; margin-bottom: 10px; 
			flex-direction: column; justify-content: center; align-items: center; display: flex;">
			
			<div class="child-div" style="height: auto; width: 1200px; box-shadow: none !important; background-color: transparent; border:none">
						<div style="font-size: 36px;font-weight: bold; color: #8e3efe; margin-left: 90px; margin-top: 20px;
						text-shadow: 0 0 3px rgba(white 0.3);">피드백 진행을 확인하고 싶어요.</div>
						
						<hr style="border-color:rgba(0,0,0, 0.2) !important; width: 85%; margin-top: 30px; margin-bottom: 0px; ">	
						
						
						<div style="margin-bottom: 30px; text-align: left; margin-left: 180px; margin-top: 10px">
							<div class="finishedText">이메일을 통해, 피드백 진행 단계와 상세내용을 확인할 수 있습니다.</div>
							<div class="finishedText">익명 피드백의 경우, 피드백 검토 및 반영이 지연될 수 있습니다.</div>
							<div class="finishedText">마이페이지 > 피드백 현황 에서도 확인이 가능합니다.</div>
						</div>
						
						
			</div><!-- child-div -->	
			
			
			<hr style="border-color:rgba(0,0,0, 0.2) !important; width: 85%; margin-top: -30px; margin-bottom: -30px; ">		
			
			
			<div class="child-div"
						style="height: auto; width: 1200px; box-shadow: none; background-color: transparent; border:none; margin-bottom:-20px;
						display: flex; justify-content: center; align-items: center; flex-direction: column; ">
			
			
					<div class="child-div" style="height: auto; width: 1200px; box-shadow: none; background-color: transparent; border:none;">
						<div class="content-div3" style="background-color: transparent; border:none;">
			 				<div class="moreAction" style="text-align: right; margin-right: 60px; color: #cecece">
			 				마이페이지로
			 				</div>
						</div>
					</div><!-- child-div -->
			
			
			</div><!-- child-div -->

</div>
<!-- child-div -->	














<div class="child-div"
			style="height: auto; width: 1200px; box-shadow: 0 0 6px rgba(0, 0, 0, 0.4) !important; margin-bottom: 360px; 
			flex-direction: column; justify-content: center; align-items: center; display: flex; ">




		
		<div class="child-div" style="height: auto; width: 1200px; box-shadow: none !important; background-color: transparent; border:none">
			<div style="font-size: 36px;font-weight: bold; color: #8e3efe; margin-left: 90px; margin-top: 30px;
			text-shadow: 0 0 3px rgba(white 0.3);">어떻게 피드백이 이루어지나요?</div>
		</div><!-- child-div -->	
			
			
<div class="child-div"style="height: auto; width: 1000px; 
		flex-direction: column; justify-content: center; align-items: center; display: flex;
		box-shadow: 0 0 4px rgba(0, 0, 0, 0.4) !important; margin-bottom:-10px;">
				<div class="content-div" style="display: flex; flex-direction: column; justify-content: center;">
				
					<div class="aboutDiv" >
					
						<div class="feedbackCmp" style="box-shadow: 0 0 6px rgba(180,159,213, 0.5); width: auto">
							<div class="feedbackCmpTitle" style="color: #b49fd5; width: 240px;">피드백 접수</div>
						</div>
						
						<div class="feedbackCmpInfo">
							<div class="feedbackCmpContent" style="color: #b49fd5; width: 100%;">
								<div style="margin-top: 15px;">피드백 접수 기능을 통해</div>
								<div style="padding-left: 160px;">사용자의 소중한 의견을 듣습니다.</div>
							</div>
						</div>
						
					</div><!-- aboutDiv -->
					<hr style="border-color:rgba(0,0,0, 0.1) !important; width: 95%; margin-top: 10px; margin-bottom: 10px; ">
					<div class="aboutDiv">
					
						<div class="feedbackCmp" style="box-shadow: 0 0 6px rgba(154,67,254, 0.5);">
							<div class="feedbackCmpTitle" style="color: #9a43fe; width: 240px;">피드백 검토</div>
						</div>
						
						<div class="feedbackCmpInfo">
							<div class="feedbackCmpContent" style="color: #9a43fe; width: 100%">
								<div>불편사항, 개선사항, 바라는 점 등</div>
								<div style="padding-left: 120px;">사용자의 의견을 검토 및 분석하고,</div>
								<div style="padding-left: 340px;">주제별로 분류합니다.</div>
							</div>
						</div>
						
					</div><!-- aboutDiv -->
					<hr style="border-color:rgba(0,0,0, 0.1) !important; width: 95%; margin-top: 10px; margin-bottom: 10px;">
					
					<div class="aboutDiv">
					
						<div class="feedbackCmp" style="box-shadow: 0 0 6px rgba(87,1,208, 0.7);">
							<div class="feedbackCmpTitle" style="color: #5701d0; width: 240px;">피드백 반영</div>
						</div>
						
						<div class="feedbackCmpInfo">
							<div class="feedbackCmpContent" style="color: #5701d0; width: 100%">
								<div style="margin-top: 15px;">피드백을 통해 기술 및 서비스를 개선하고,</div>
								<div style="padding-left: 200px;">반영 현황을 사용자에게 전달합니다.</div>
							</div>
						</div>
						
					</div><!-- aboutDiv -->
					

					
				</div>
		</div>
		<!-- child-div -->
				
				
					
					
					
<div class="child-div"
			style="height: auto; width: 1200px; box-shadow: none; background-color: transparent; border:none;  margin-bottom:-10px;
			display: flex; justify-content: center; align-items: center; flex-direction: column; ">


		<div class="child-div" style="height: auto; width: 1200px; box-shadow: none; background-color: transparent; border:none;">
			<div class="content-div3" style="background-color: transparent; border:none;">
 				<div class="moreAction" style="text-align: right; margin-right: 60px">
				    <div class="moreActionButton"><a th:href="@{/support}" class="custom-button">지원센터 홈으로</a></div>
				</div>
			</div>
		</div><!-- child-div -->


</div><!-- child-div -->
			
</div>
<!-- child-div -->	

















<div style="margin-top: 100px"></div>
















	</div><!-- parent-container -->
<!-- 	<script src="/js/support_ready.js"></script> -->
<script src="/js/support_center.js"></script>
	
	
</body>
</html>
